.location {
    --height: 17rem;
    position: relative;
    padding: 1rem;
    height: var(--height);
    max-height: var(--height);
}

/* background image */
.location_bg img {
    position: absolute;
    inset: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.location_weather_icon {
    width: 5rem;
    aspect-ratio: 1;
}

.location_temp {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    align-self: baseline;
}

.search_time {
    font-size: var(--font-size-btn);
    color: var(--btn-color-text);
    border: none;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    gap: 0.4rem;
    border-radius: var(--border-radius);
    background-color: hsl(243deg 21.22% 50.22% / 35%);
}

@media screen and (max-width:550px) {
    .flexcol {
        flex-direction: column;
    }
}