.day_drop_down {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.listBox {
  background-color: var(--btn-color-bg);
  width: max-content;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: var(--dropdown-z-index);
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  border: var(--border-style);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;

  > ul {
    list-style: none;
    padding: 0.5rem;
  }
}
