.toolbar_right_container{
    margin-left: auto;
}

.tool_unitsbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-btn);
    gap: 0.5rem;
    color: var(--btn-color-text);
    background-color: var(--btn-color-bg);
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:focus {
        outline: var(--focus-outline);
        outline-offset: var(--btn-outline-offset);
    }
}