.form_container {
    width: 100%;
}

.search_form {
    gap: 0.8rem;
    position: relative;
}

.form_btn_container {
    --height: 3rem;

    >button {
        padding-inline: 1rem;
        height: var(--height);
        border-radius: var(--border-radius);
        border: none;
        background-color: var(--blue-500);
        cursor: pointer;
        gap: 0.5rem;
        width: 100%;
        transition: transform 0.2s ease-in-out;

        &:focus {
            outline: var(--btn-outline-size) solid var(--blue-500);
            outline-offset: var(--btn-outline-offset);
        }

        &:hover {
            transform: scale(1.01)
        }
    }
}

.search_container {
    --height: 3rem;
    position: relative;
    border-radius: var(--border-radius);

    >.input_container {
        border-radius: inherit;
        height: var(--height);
        background-color: var(--btn-color-bg);
        cursor: pointer;
        width: 100%;
        transition: transform 0.2s ease-in-out;

        >input[type='search'] {
            border: none;
            color: var(--neutral-0);
            outline: none;
            cursor: pointer;
            background-color: inherit;
            width: 100%;
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            padding-block: 0.5rem;
            padding-inline-end: 1rem;

            &::placeholder {
                color: var(--btn-color-text);
            }
        }

        >label {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 1rem;
        }

        &:focus-within {
            outline: var(--focus-outline);
            outline-offset: var(--btn-outline-offset);
        }

        &:hover {
            transform: scale(1.01)
        }
    }
}

.input_error {
    outline: 2px solid var(--orange-500);
    outline-offset: var(--btn-outline-offset);
}

.error {
    font-size: 0.875rem;
    padding: 0.1rem 0.75rem;
    border-radius: var(--border-radius);
    color: var(--neutral-0);
    background-color: var(--orange-500);
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 50;
    white-space: nowrap;
    animation: fadeIn 0.3s ease-out;
    margin-bottom: 0.2rem;
}

/* Fade-in animation for the error message */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0) translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}


@media screen and (min-width: 768px) {
    .search_form {
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        padding-inline-start: 10rem;
    }

    .form_btn_container {
        >button[type='submit'] {
            width: 10rem;
        }

        >button[type='button'] {
            width: auto;
        }
    }

    .search_container {
        width: 33.6rem;
    }
}

@media screen and (768px < width < 1080px) {
    .search_form {
        padding-inline-start: 5rem;
    }

    .search_container {
        width: 23.6rem;
    }
}