.dashboard {
  display: grid;
  gap: 2rem;
  grid-template-columns: 64% 33%;
  height: 37rem;
  align-items: start;
}

.left_dashboard {
  height: fit-content;
}

@media screen and (max-width: 72.5rem) {
  .dashboard {
    height: 47rem;
  }
}

@media screen and (59.43rem < width < 67.5rem) {
  .dashboard {
    grid-template-columns: 64% 32%;
    height: 54.5rem;
  }
}

@media screen and (max-width: 59.37rem) {
  .dashboard {
    grid-template-columns: 1fr;
    height: fit-content;
  }
}
