.dashboard {
    display: grid;
    gap: 2rem;
    grid-template-columns: 64% 33%;
    height: 37.40rem;
    align-items: start;
}

.left_dashboard {
    height: fit-content;
}

@media screen and (max-width:1160px) {
    .dashboard {
        height: 47rem;
    }
}

@media screen and (951px < width < 1080px) {
    .dashboard {
        grid-template-columns: 64% 32%;
        height: 54.5rem;
    }
}

@media screen and (max-width:950px) {
    .dashboard {
        grid-template-columns: 1fr;
        height: fit-content;
    }
}
