.drop_places {
    background-color: var(--btn-color-bg);
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    top: 100%;
    height: 150px;
    z-index: var(--dropdown-z-index);
    max-height: 150px;
    overflow-y: auto;
    margin-top: 0.5rem;
    width: 100%;
}

ul[role="list"] {
    padding: 0.5rem;
    font-size: 0.9rem;
}
